<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="de.laeubisoft.osgitoolbox.core.container.OSGiClasspathContainerInitializer"
            id="de.laeubisoft.osgitoolbox.container.OSGi">
      </classpathContainerInitializer>
   </extension>

</plugin>
